ECommerceSysService/WebContent/wsdl/DBService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dbService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dbService" xmlns:intf="http://dbService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dbService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAll">
    <complexType/>
   </element>
   <element name="getAllResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userData">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="userDataResponse">
    <complexType>
     <sequence>
      <element name="userDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBrand">
    <complexType>
     <sequence>
      <element name="brand" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBrandResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBrandReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloWorld">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloWorldResponse">
    <complexType>
     <sequence>
      <element name="sayHelloWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllResponse">

      <wsdl:part element="impl:getAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllRequest">

      <wsdl:part element="impl:getAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBrandResponse">

      <wsdl:part element="impl:getBrandResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="userDataRequest">

      <wsdl:part element="impl:userData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="userDataResponse">

      <wsdl:part element="impl:userDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldResponse">

      <wsdl:part element="impl:sayHelloWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldRequest">

      <wsdl:part element="impl:sayHelloWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBrandRequest">

      <wsdl:part element="impl:getBrand" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DBService">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAll">

         <wsdl:input message="impl:getAllRequest" name="getAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllResponse" name="getAllResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="userData">

         <wsdl:input message="impl:userDataRequest" name="userDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:userDataResponse" name="userDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBrand">

         <wsdl:input message="impl:getBrandRequest" name="getBrandRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBrandResponse" name="getBrandResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorld">

         <wsdl:input message="impl:sayHelloWorldRequest" name="sayHelloWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloWorldResponse" name="sayHelloWorldResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DBServiceSoapBinding" type="impl:DBService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="userData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="userDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="userDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBrand">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBrandRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBrandResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorld">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DBServiceService">

      <wsdl:port binding="impl:DBServiceSoapBinding" name="DBService">

         <wsdlsoap:address location="http://localhost:8095/ECommerceSysService/services/DBService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
